*{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}
body{
    margin: 0;
    box-sizing: border-box;
}
.task__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
 }
 
 .task__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size:16px;
 }
 
 .task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
 }
 .completed{
  border: 2px solid green;
 }
.groups{
  display:flex;
  flex-direction: column;
}
.group{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.group__content{
  display:flex;
  align-items: center;
  gap:10px;
}